{% extends 'base.html' %}
{% load static %}

{% block title %}
  Liste des Sujets
{% endblock title %}


{% block content %}
<h3> Liste des sujets </h3>
<a href="{% url 'topics-create' %}" class="btn btn-sm btn-primary"> create </a>

{% include 'partials/message.html' %}

<table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">image </th>
          <th scope="col">Name</th>
          <th scope="col">tags </th>
          <th scope="col">Description</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for topic in topics %}
        <tr>
          <td>{{ topic.id}}</td>
          {% if topic.image_topic %}
          <td><img class="topic-img" src="{{ topic.image_topic.url }}" alt="{{ topic.name }}" /> </td>
          {% else %}
          <td><img class="topic-img" src="{% static 'images/logo.png' %}" alt="{{ topic.name }}" /> </td>
          {% endif %}
          <td>{{ topic.name }}</td>
          <td> <span class="badge text-bg-primary"># {{ topic.tag_id }}</span></td>
          <td>{{ topic.description }}</td>
          <td>
              <a href="{% url 'topics-show' topic.id %}" class="btn btn-sm btn-info"> show</a>
              <a href="{% url 'topics-update' topic.id %}" class="btn btn-sm btn-warning"> edit</a>
              <a href="{% url 'topics-delete' topic.id %}" class="btn btn-sm btn-danger"> delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
</table>
{% endblock content %}